@model BookingApplication.Models.Reservation

@{
    ViewData["Title"] = "Reserve";
}

<h1>Reserve</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveReservation" asp-controller="Book" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ApartmentId" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <input asp-for="StartDate" type="hidden" />
            <input asp-for="EndDate" type="hidden" />
            <input asp-for="People" type="hidden" />
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Book</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info"><i class="fa fa-undo" aria-hidden="true"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
