@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="Book" asp-action="Search" class="btn btn-lg btn-success"><i class="fa fa-palm"></i> Book your stay!</a>
</div>
